.modal {
  position: relative;
}

.modal__close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.modal__close-btn img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
